.desktop-only {
  display: none;
}

.button-add {
  background-color: var(--color-brand);

  &:hover {
    background-color: var(--color-brand-hover);
  }
}

.message-hidden {
  opacity: 0;
  visibility: hidden;
}

@media (width >= 80em) {
  .desktop-only {
    display: initial;
  }
}

